<footer>
        <div class="pq-top-footer ">
            <div class="container">
                <div class="row  ">
                    <div class="col-lg-4 col-md-12 border-right">
                        <div class="pq-footer-contect-wrapper-left">
                            <div class="pq-phone-icon-div">
                                <i class="ti-mobile"></i>
                            </div>
                            <div class="pq-phone-number-div ">
                                <p>Telenofo No.</p>
                                <a >+1800-001-658</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-12 border-right ">
                        <div class="pq-footer-contect-wrapper ">
                            <div class="pq-phone-icon-div">
                                <i class="ti-email"></i>
                            </div>
                            <div class="pq-phone-number-div ">
                                <p>Email</p>
                                <a >Info@com</a>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="pq-footer-contect-wrapper">
                            <div class="pq-phone-icon-div">
                                <i class="ti-location-pin"></i>
                            </div>
                            <div class="pq-phone-number-div ">
                                <p>1693 Alice Cour</p>
                                <a >Annapolis MD 21401</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="pq-mid-footer">
            <div class="container">
                <div class="pq-mid-footer-wrapper">

                    <div class="mid-footer-wrapper-left">
                        <div class="mid-image-div">
                            <img src="assets/images/page1/footer/footer_001.png" alt="img" class="pq-footer-logo">
                        </div>
                        <p>Academia Mexicana Guiada Turistas.</p>
                    </div>

                    <div class="mid-footer-conference-wrapper">
                        <h5>ACADEMIA</h5>
                        <div class="mid-footer-about-list">
                            <ul>
                                <li class="about-list"> <a href="">Nosotros</a> </li>
                                <li class="about-list"> <a href="">Diplomado</a></li>
                                <li class="about-list"> <a href="">Cursos</a> </li>
                                <li class="about-list"> <a href="">Contacto</a> </li>
                            </ul>
                            <ul>
                                <li class="about-list"> <a href="">Profesores </a></li>
                                <li class="about-list"><a href="">Inscripciones</a></li>
                                <li class="about-list"><a href=""> Galeria </a> </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mid-right-footer-wrapper">
                        <div class="right-footer-conference">
                            <h5> CONTACTO</h5>
                            <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
                        </div>
                        <ul>
                            <li class="about-list"> <a href="">+52 55 1234 5678</a> </li>
                            <li class="about-list"> <a href="">info@amgt.mx</a></li>
                            <li class="about-list"> <a href="">Mexico, CDMX</a> </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="pq-bottom-footer">
            <div class="container">
                <div class="pq-bottom-footer-wrapper">
                    <div class="footer-socials">
                        <a ><i class="fa-brands fa-facebook-f"></i></a>
                        <a ><i class="fa-brands fa-instagram"></i></a>
                        <a ><i class="fa-brands fa-linkedin-in"></i></a>
                        <a ><i class="fa-brands fa-youtube"></i></a>

                    </div>
                    <span>Copyright © 2025 amgt.mxTodos los derechos reservados. diseñado por <a
                            >Buckapi.</a></span>
                </div>
            </div>
        </div>
    </footer>