  <div class="pq-sidebar">
        <div class="pq-close-btn">
            <a class="pq-close" href="javascript:void(0)">
                <i class="ti-close"></i>
            </a>
        </div>
        <div class="pq-sidebar-block">
            <div class="pq-sidebar-header">
                <img src="assets/images/sidebar/header_001.png" class="pq-sidebar-logo" alt="confer-sidebar-logo">
            </div>
            <div class="pq-sidebar-content">
            </div>
            <div class="pq-sidebars">
                <div class="widget">
                    <div class="pq-block-group">
                        <div class="pq-block-group__inner-container ">
                            <h2 class="pq-block-heading">Academia Mexicana Guiada Turistas</h2>

                            <p>Somos una institución educativa dedicada a la formación y capacitación integral de guías
                                de turistas, con un enfoque profesional, humano y sustentable.</p>

                            <figure class="pq-block-image size-large">
                                <img decoding="async" width="1024" height="585"
                                    src="assets/images/sidebar/blog_img_006-1024x585.webp" alt="" class="wp-image-2559">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pq-sidebar-contact">
                <h2 class="pq-contact-title"> Contacto </h2>
                <ul class="pq-contact">
                    <li>
                        <a >
                            <div class="pq-icon">
                                <i class="flaticon-phone-call"></i>
                            </div>
                            <span>+1800-001-658</span>
                        </a>
                    </li>
                    <li>
                        <a href="mailto:info@amgt.mx"><i class=" flaticon-sms"></i><span>info@amgt.mx</span></a>
                    </li>
                    <li>
                        <div class="pq-icon">
                            <i class=" flaticon-location"></i>
                        </div>
                        <span> Mexico, CDMX</span>
                    </li>
                </ul>
            </div>
            <div class="pq-sidebar-social">
                <ul>
                    <li>
                        <a >
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a >
                            <i class="fab fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a >
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li>
                        <a >
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <header class="pq-header-style-1 pq-has-sticky " id="pq-header">
        <div class="pq-top-header">
            <div class="container-fluid">
                <div class="top-header-row">
                    <div class="pq-header-social">
                        <a href="event-detail.html#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="event-detail.html#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="event-detail.html#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="event-detail.html#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                    <div class="pq-topbar-middle">
                        <div class="pq-header-contain">
                            <span class="pq-contain-title">
                                ACADEMIA MEXICANA DE GUÍAS DE TURISTAS </span>
                           
                        </div>
                    </div>
                    <div class="pq-header-contact">
                        <p>
                            <a href="mailto:info@amgt.mx">
                                <i class="fas fa-envelope"></i>
                                <span>info@amgt.mx</span>
                            </a>
                        </p>
                        <p>
                            <i class="flaticon-pin"></i>
                            <span>CDMX</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pq-bottom-header pq-header-page-2">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="">
                        <img src="assets/images/page1/header/header_001-removebg-preview.png" alt="img" class="nav-logo">
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="pq-menu-contain">
                            <ul class="navbar-nav" id="pq-main-menu">
                                <li class="menu-item current-menu-item">
                                    <a routerLink="/">Inicio </a>

                                </li>
                                <li class="menu-item">
                                    <a routerLink="/about">Nosotros </a>

                                </li>
                                <li class="menu-item">
                                    <a routerLink="/directorio">Directorio </a>

                                </li>
                                <li class="menu-item">
                                    <a href="index.html#cuerpo-docente">Cuerpo docente </a>


                                </li>
                                <li class="menu-item mega-menu">
                                    <a href="#">Oferta educativa <i class="fa-solid fa-caret-down"></i></a>

                                    <ul class="sub-menu mega-content">
                                        <li class="mega-column">
                                            <h4>Diplomados</h4>
                                            <ul>
                                                <li><a href="diplomado-detail.html">Diplomado </a></li>
                                                <li><a href="diplomado-detail.html">Diplomado </a></li>
                                                <li><a href="diplomado-detail.html">Diplomado </a></li>
                                                <li><a href="diplomado-detail.html">Diplomado </a></li>
                                            </ul>
                                        </li>

                                        <li class="mega-column">
                                            <h4>Cursos</h4>
                                            <ul>
                                                <li><a href="curso-detail.html">Curso </a></li>
                                                <li><a href="curso-detail.html">Curso </a></li>
                                                <li><a href="curso-detail.html">Curso </a></li>
                                                <li><a href="curso-detail.html">Curso </a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="">Sedes </a>

                                </li>
                                <li class="menu-item">
                                    <a href="index.html#contact">Contacto </a>

                                </li>
                                <li class="menu-item">
                                    <a routerLink="admin/cursos">Admin </a>

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="pq-header-right ms-auto  ">
                        <div class="pq-header-call-block">
                            <a >
                                <div class="pq-icon">
                                    <i class="flaticon-phone-call"></i>
                                </div>
                                <span>+1800-001-658</span>
                            </a>
                        </div>
                        <div class="pq-menu-search-block">
                            <a  class="pq-search-button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
                                <i class="ti-user"></i>
                            </a>
                            <!--  <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTop">
                                <div class="pq-search-form-block">
                                    <form role="search" method="get" class="search-form" action="index.html#">
                                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        <input type="search" class="search-field" placeholder="Search …" value="" name="s">
                                        <button type="submit" class="search-submit"><span class="screen-reader-text">Inscribirme</span></button>
                                    </form>
                                </div>
                            </div> -->
                        </div>
                        <div class="pq-toggle-button" id="pq-toggle-button">
                            <a  class="menu-toggle">
                                <svg width="60" height="60" viewBox="0 0 60 60" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <rect x="17" y="17" width="8" height="8" fill="#1B1B1B"></rect>
                                    <rect x="17" y="35" width="8" height="8" fill="#1B1B1B"></rect>
                                    <rect x="35" y="17" width="8" height="8" fill="#1B1B1B"></rect>
                                    <rect x="35" y="35" width="8" height="8" fill="#1B1B1B"></rect>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="menu-toggle">
                            <svg width="54" height="54" viewBox="0 0 60 60" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="17" y="17" width="8" height="8" fill="#1B1B1B"></rect>
                                <rect x="17" y="35" width="8" height="8" fill="#1B1B1B"></rect>
                                <rect x="35" y="17" width="8" height="8" fill="#1B1B1B"></rect>
                                <rect x="35" y="35" width="8" height="8" fill="#1B1B1B"></rect>
                            </svg>
                        </span>
                    </button>
                </nav>
            </div>
        </div>
    </header>